# 05. Cleaning / EDA

## Import libraries

In [1]:
import pandas as pd
import regex as re
import time

## Timebanks: Directory

In [2]:
timebanks = pd.read_csv('../data/directory.csv')
timebanks.head(3)

,address,country,focus,mission,name,notes,phone,postal,slug,sponsor,timebank,url,url_2
0,"7 Dickens St, Addington",New Zealand,NaN,Addington TimeBank: Serving Southern Christchu...,Addington TimeBank,This TimeBank became live on 1 February 2012. ...,64 3 3381613,"Christchurch, Canterbury 8024",timebanks/addington-timebank,Addington Community House (Inc),addington,http://addington.timebanks.org,NaN
1,"331 Sterling Highway, PO BOX 3493 (mailing add...",United States,NaN,Our mission is to strengthen our community b...,AHA Time Bank (Alaskans Helping Alaskans),NaN,907-299-2060,"Homer, Alaska 99603",timebanks/aha-time-bank-alaskans-helping-alaskans,NaN,aha,http://aha.timebanks.org,NaN
2,"Entrada al Refugio Tierra Colorada Baja , PO B...",Guatemala,NaN,Build adaptive capacity for integrated sustain...,Alticultura,NaN,1150230873516,"Quetzaltenango, Quetzaltenango 9001",timebanks/alticultura,Alticultura,alticultura,http://alticultura.timebanks.org,NaN

In [3]:
timebanks.shape

(156, 13)

In [4]:
timebanks.isnull().sum()

address       1
country       1
focus       156
mission       9
name          0
notes       147
phone         2
postal        1
slug          0
sponsor      91
timebank      0
url           0
url_2       100
dtype: int64

### `address`

In [5]:
timebanks[timebanks['address'].isnull()]

,address,country,focus,mission,name,notes,phone,postal,slug,sponsor,timebank,url,url_2
24,NaN,NaN,NaN,A community of neighbors helping neighbors.,Common Wealth Time Bank,This TimeBank is currently dormant. Please ema...,NaN,NaN,timebanks/common-wealth-time-bank,NaN,manasota,http://manasota.timebanks.org,NaN

Most timebanks have a phone number associated. 1 is not listed. 1 appears to be filler (555-555-5555).